.feature{
    width: 66px;
    height: 66px;
    transform: translateY(-30px);
    margin: 0 auto;
}
.feature .fa-code{
    text-align: center;
    transform: translateY(110%);
}
.btn-card{
    border-top: 1px solid black;
}